<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Reddit to Spotify</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Music Profile Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- main -->
<div class="audio-main w3ls">
	<h1>Reddit to Spotify</h1>
	<div class="audio-record-list">
	<div class="profile">
			 <div class="profile-top wthree">
				 <div class="pic-sec">
                     {% if session['user'] %}
                        <div class="pic">
                             {% if session['user']['images']|length > 0 %}
                             <img src="{{ session['user']['images'][0]['url'] }}" alt=""/>
                             {% else %}
                             <img src="../static/images/default-user.png" alt=""/>
                             {% endif %}
                         </div>
                         <div class="pic_info">
                             <h2>{{ session['user']['display_name'] }}</h2>
                             <h3><a href="{{ session['user']['external_urls']['spotify'] }}">@{{ session['user']['id'] }}</a></h3>
                         </div>
                         <div class="clear"></div>
                     {% else %}
                         <div class="pic">
                             <img src="../static/images/default-user.png" alt=""/>
                         </div>
                         <div class="pic_info">
                             <h2>Reddit to Spotify turns into a playlist the top 20 songs submitted in Reddit's '<a href="https://www.reddit.com/r/Music/" target="_blank">r/Music</a>'.</h2>
                             <h3>Please enter your Spotify username to continue.</h3>
                         </div>
                         <div class="clear"></div>
                     {% endif %}
				 </div>
				 <div class="media">

                     {% block body %}{% endblock %}

				 </div>
			 </div>
        {% if session['user'] %}
            <div class="text-center">
                <a href="/logout" class="text-danger">
                    <span>LOGOUT</span> <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                </a>
            </div>
        {% endif %}
		 </div>
	</div>
	<div class="footer agile">
		<div class="copy-right">
			<p> &copy; 2016 All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
		</div>
	</div>
</div>
<!-- //main -->

</body>
</html>