{% extends "index.html" %}
{% block body %}

    {% with messages = get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
             {{ message }}
          {% endfor %}
       {% endif %}
    {% endwith %}


    {% if playlist_id %}
        <div>
            <span>Playlist created.</span>
            <a href="https://play.spotify.com/user/{{ user }}/playlist/{{ playlist_id}}" target="_blank">SEE IT HERE.</a>
        </div>
    {% endif %}

    {% if exclusions %}
        <div class="not_found">
            <div class="not_found_title">Song(s) not found on Spotify:</div>
            <ul>
            {% for song in exclusions %}
                <li class="playlist">{{ song }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}


{% endblock %}
